:root {
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-font-color: #2f303a;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ===== COMMON STYLES ===== */

/* ----- LOGO ----- */

.current {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.logo-accent {
  color: var(--accent-color);
}

/* ----- NAVIGATION ----- */

.nav-list {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* ----- CONTACTS ----- */

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ----- FOOTER ----- */

.footer {
  background-color: var(--secondary-font-color);
}

.logo-accent-footer {
  color: #ffffff;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-location {
  color: #ffffff;
}

/* ======= STUDIO ======= */

/* ----- HERO ----- */
.hero {
  background-color: var(--secondary-text-color);
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-btm {
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* ----- ADVANTAGES ----- */

.advantages-list-item {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ----- SPECIALISTS ----- */

.team {
  background-color: #f5f4fa;
}

.team-list-item {
  background-color: #ffffff;
}
.team-specialist {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-specialist-description {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ======= PORTFOLIO ======= */

.projects-list-item {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.button {
  background-color: #f5f4fa;
}

.project-list-item-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list-item-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
